FLASK_ENV=development
SECRET_KEY=your_secret_key_here

DB_USER=root
DB_PASSWORD=Sharu
DB_HOST=127.0.0.1
DB_PORT=3306
DB_NAME=institutional_tracker_live

DATABASE_URL=mysql+pymysql://root:Sharu@127.0.0.1:3306/institutional_tracker_live